<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Page d'accueil</title>
        <link rel="stylesheet" href="/projet/public/style/globals.css">
    </head>
    <body>
        <header>
            <nav>
                <ul>
                    <a href="/">Accueil</a>
                    <a href="/propos">À propos</a>
                    <a href="/contact">Contact</a>
                </ul>
            </nav>
        </header>
        
        <main>
            <section class="hero">
                <div class="hero-text">
                    <h1>Bienvenue sur notre site</h1>
                    <p>Découvrez notre univers et nos services.</p>
                    <a href="#contact" class="btn">Contactez-nous</a>
                </div>
            </section>
        </main>
    </body>
</html>

